<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Assay: Make your site better</title>
    <meta name="description" content="Assay: Tools for experimenting with, and troubleshooting, a website's UI code">
</head>
<body>
    <% include ../partials/navBar %>
    <div class="container main">
        <h1 class="mt-2 mb-2">
           Incomprehensible
        </h1>
        <p class="lead">
            The request was not able to be understood; it was not intelligible.
        </p>
        <button type="submit" class="btn btn-secondary btn-lg float-xs-right mr-3" onclick="history.back();">
            go back
        </button>
    </div>
    <% include ../partials/footerDisplay %>
    <% include ../partials/foot %>
</body>
